[submodule "geoserver"]
	path = docker/geoserver
	url = https://github.com/alexlipovka/docker-geoserver.git
[submodule "nproxy"]
	path = docker/nproxy
	url = https://github.com/alexlipovka/docker-nproxy.git
[submodule "postgis"]
	path = docker/postgis
	url = https://github.com/alexlipovka/docker-postgis.git
[submodule "pgadmin"]
	path = docker/pgadmin
	url = https://github.com/alexlipovka/docker-pgadmin.git
[submodule "www"]
	path = docker/sites/www
	url = https://github.com/alexlipovka/docker-www.git
